---
import * as CONFIG from '../../config';

type Props = {
	path: string;
};
const { path } = Astro.props as Props;
---

<footer>
	<div class="footer-wrapper">
		<div class="left-footer">
			<p>AdIns - {CONFIG.SITE.title}</p>
		</div>
		<div class="right-footer">
			<p>Powered by Astro 🚀</p>
		</div>
	</div>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 0.5rem;
		border-top: 1px solid var(--theme-divider);
	}

	.footer-wrapper {
		position: relative;
	}

	.left-footer {
		 float: left;
	}

	.right-footer { 
		float: right;
	}
</style>
